
/*********************************************** Footer ***********************************************/

.div_footer {
    background-color: map-get($map-colors, negro);
}

.foto_auspiciantes {
    width: 10rem;
}

.div_disclaimer {
    align-items: center;
}

.foto_logo {
    width: 10rem;
}

.span_footer {
    @include letras($lato, large, 700);
    color: map-get($map-colors, blanco);
}