
/*********************************************** navbar ***********************************************/

.encabezado_div {
    background-color: #040438;

    .imagen_nav {
        width: 100px;
    }

    .button_nav {
        color: #040438;

        .span_button_nav {
            background-color: azure;
        }
    }
    
    .div_nav {

        height: 150px;
        
        .ul_nav {
            background-color: #040438;

            .li_nav {
                @include letras($lato, x-large, null);
                color: azure; 

                &:hover {
                    font-size: x-large;
                    color: gainsboro;
                }
            }
            
        }
    }
}