/*********************************************** Seccion quienes somos ***********************************************/

.quienes_somos_div_principal {
    background-color: rgb(243, 243, 243);
}

.quienes_somos_h1 {
    @include letras($lato, 7em, 700);
}

.quienes_somos_parrafo {
    @include letras($lato, x-large, 400);
}

@media screen and (min-width: 1230px) {

    .seccion_quienes_somos {
        display: flex;
        justify-content: space-between;
    }

    .video_quienes_somos {
        width: 550px;
    }
}

@media screen and (max-width: 1230px) {

    .seccion_quienes_somos {
        display: flex;
        justify-content: center;
    }

    .video_quienes_somos {
        order: -1;
    }
}

@media screen and (max-width: 556px) {
    .quienes_somos_h1 {
        font-size: 5em;
    }

}

/*********************************************** Noticias ***********************************************/

.noticias_div_semi_principal {
    width: 100%;
}

.noticias_secundarias_div_semi_principal {
    background-color: rgb(243, 243, 243);
}

.parrafo_principal {
    font-size: large;
}

.parrafo_secundario {
    font-size: large;
}

.noticias_h3 {
    font-size: x-large;
}

.div_prueba {
    margin-top: 1rem;
}

/*********************************************** Agenda ***********************************************/

#agenda {
    width: 100%;
}

.div_mayor_agenda {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.imagen_agenda {
    width: 60rem;
    padding: 1px 50px 10px 50px;
}

.parrafo_principal_agenda {
    @include letras($lato, large, 400);
}

.parrafo_secundario_agenda {
    @include letras($lato, large, 400);
}

@media screen and (min-width: 1220px) {

    .div-mayor_agenda {
        justify-content: space-between;
    }
}

/*********************************************** Campeones ***********************************************/

.parrafo_campeones {
    @include letras($lato, large, 400);
}

@media screen and (max-width: 992) {

    .img_campeones {
        width: 10px;
    }
}

/*********************************************** Seccion Ranking ***********************************************/
.h1_ranking {
    font-size: 7em;
}

.h2_ranking {
    font-size: xx-large;
}

.parrafo_ranking {
    font-size: larger;
}

.div_footer_ranking {
    background-color: rgb(19, 19, 19);
}