/*********************************************** Seccion quienes somos ***********************************************/

.quienes_somos_div_principal {
    background-color: map-get($map-colors, gris);

    .quienes_somos_h1 {
        @include letras($lato, 7em, 700);
    }
    
    .quienes_somos_parrafo {
        @include letras($lato, x-large, 400);
    }
}

/*********************************************** Noticias ***********************************************/

.noticias_div_semi_principal {
    width: 100%;

    .noticias_secundarias_div_semi_principal {
        background-color: map-get($map-colors, gris);
    }
    
    .parrafo_principal {
        font-size: large;
    }
    
    .parrafo_secundario {
        font-size: large;
    }
    
    .noticias_h3 {
        font-size: x-large;
    }
    
    .div_prueba {
        margin-top: 1rem;
    }
    
}

/*********************************************** Agenda ***********************************************/

#agenda {
    width: 100%;

    .div_mayor_agenda {
        @include flex-justify(flex, wrap-reverse, center);

        .parrafo_secundario_agenda {
            @include letras($lato, large, 400);
        }

        .imagen_agenda {
            width: 60rem;
            padding: 1px 50px 10px 50px;
        }
    }
    .parrafo_principal_agenda {
        @include letras($lato, large, 400);
    }
}

/*********************************************** Campeones ***********************************************/

.parrafo_campeones {
    @include letras($lato, large, 400);
}

/*********************************************** MediaQueries ***********************************************/

@media screen and (min-width: 1230px) {

    .seccion_quienes_somos {
        @include flex-justify(flex, null, space-between);

        .video_quienes_somos {
            width: 550px;
        }
    }
}

@media screen and (max-width: 1230px) {

    .seccion_quienes_somos {
        @include flex-justify(flex, null, center);

        .video_quienes_somos {
            order: -1;
        }
    }
}

@media screen and (max-width: 556px) {

    .quienes_somos_h1 {
        font-size: 5em;
    }

}

@media screen and (max-width: 1230px) {

    .seccion_quienes_somos {
        @include flex-justify(flex, null, center);

        .video_quienes_somos {
            order: -1;
        }
    }
}

@media screen and (max-width: 556px) {

    .quienes_somos_h1 {
        font-size: 5em;
    }

}

@media screen and (min-width: 1220px) {

    .div-mayor_agenda {
        justify-content: space-between;
    }
}

@media screen and (max-width: 992) {

    .img_campeones {
        width: 10px;
    }
}