
/*********************************************** Seccion Ranking ***********************************************/

.h1_ranking {
    font-size: 7em;
}

.h2_ranking {
    font-size: xx-large;
}

.parrafo_ranking {
    font-size: larger;
}

.div_footer_ranking {
    background-color: map-get($map-colors, negro);
}